on:
  push:
    branches:
      - master

name: release-please

jobs:
  release-please:
    if: github.repository_owner == 'rust-bio'
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: rust
          package-name: bio
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false},{"type":"deps","section":"Dependencies","hidden":false}]'

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        if: ${{ steps.release.outputs.release_created }}
        with:
          toolchain: stable

      - name: Install system dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: |
          sudo apt-get install --yes zlib1g-dev libbz2-dev musl musl-dev musl-tools clang libc6-dev

      - uses: Swatinem/rust-cache@v2
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish crate
        if: ${{ steps.release.outputs.release_created }}
        run: cargo publish --token ${{ secrets.CRATES_IO_TOKEN }}
